{% extends 'base.html.twig' %}

{% block title %}Admin Area{% endblock %}

{% block body %}
	<div id="admin-form">
		<admin-form loan_data="{{ loans|json_encode() }}"></admin-form>
	</div>
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('admin_page') }}
{% endblock %}

